@charset "UTF-8";

/* Cores estão no adobe color */

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    padding-left: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-image: linear-gradient(to top, #7592ad, #D5E7F2);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 460px;
    border-radius: 15px;
    box-shadow: 0px 0px 50px #203f5928;

    transition: width 1s, height 1s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #D5E7F2 url(../imagens/spaulo.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}

section#login > div#form {
    display: block;
    padding: 10px;
}

div#form h1 {
    color: #203F59;
    text-align: center;
    margin-bottom: 10px;
}

div#form p {
    color: #7592ad;
    text-align: center;
    font-size: .8em;
    margin-bottom: 10px;
    margin-top: -11px;
}

form > div.campo {
    background-color: #0C1720;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

form label {
    display: none;
}

div.campo > span {
    transform: translateY(-1px);
    color: rgb(255, 255, 255);
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo input {
    padding-top: 50px;
    background-color: #ffffff;
    border: 0px;
    width: calc(100% - 48px);
    height: 83%;
    border-radius: 5px;
    padding: 5px;
    transform: translateY(-11.5px);
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #203F59;
    color: white;
    border: none;
    border-radius: 14px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #0B161F;
}

form a.botao {
    display: block;
    text-align: center;
    font-size: .9em;
    width: 100%;
    height: 40px;
    padding-top: 2px;
    text-decoration: none;
    color: #6D879E;
    text-decoration: underline;
}

form a.botao:hover {
    color: #0B161F;
}